<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="{{ url_for( 'static' , filename = 'css/style-404.css' ) }}">
    <title></title>
  </head>
  <body>

    <div id="clouds">
                <div class="cloud x1"></div>
                <div class="cloud x1_5"></div>
                <div class="cloud x2"></div>
                <div class="cloud x3"></div>
                <div class="cloud x4"></div>
                <div class="cloud x5"></div>
            </div>
            <div class='c'>
                <div class='_404'>404</div>
                <hr>
                <div class='_1'>LA PAGE</div>
                <div class='_2'>N'A PAS ETE TROUVEE</div>
                <a class='btn' href='/'>RETOURNER A L'ACCUEIL</a>
            </div>

  </body>
</html>
