{% include "vueEntete.html" %}
{% include "vueEnteteAccueil.html" %}

<div class="container-fluid">
    <div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<br>
			<br>
			<br>
			<br>

            <a href="/usager/session/choisir" class="btn btn-primary btn-lg btn-block" ><center>Usager</center></a>
		</div>
		<div class="col-md-4"></div>
	</div>
    <p></p>
    <div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
            <a href="/gestionnaire/session/choisir" class="btn btn-primary btn-lg btn-block couleurBoutton">Gestionnaire</a>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

{% include "vuePied.html" %}
