{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class ="col-md-10">
			<h2><center>Personnels avec carte de Restauration</center></h2>
		
		</div>
	
	</div>
	
	<br>
	<div class = "row">
		<div class = "col-md-1"></div>
		<div class = "col-md-10">

			{% if carteBloquer == True  %}
			<p class="alert alert-danger" role="alert">Carte bloquée. Contactez le gestionnaire.</p>
			{% endif %}

			<table class="table table-hover" >
				<thead>
					<tr>
						{%for enTete in enTeteDuTableau %}
						<th>{{enTete.upper()}}</th>
						{%endfor%}
					
					</tr>
				
				</thead>
				
				<tbody>
					{%for unPersonnel in listePersonnelsAvecCarte %}
					<tr>
						<td>{{unPersonnel['numeroCarte']}}</td>
						
						{% if unPersonnel['activee'] == 0 %}
							<td>Bloqué</td>
						{% endif %}
						
						{% if unPersonnel['activee'] == 1 %}
							<td>Activé</td>
						{% endif %}
						
						<td>{{unPersonnel['solde']}}</td>
						<td>{{unPersonnel['matricule']}}</td>
						<td>{{unPersonnel['nom']}}</td>
						<td>{{unPersonnel['prenom']}}</td>
						<td>{{unPersonnel['nomService']}}</td>
						
						
						<td>
							{% if unPersonnel['activee'] == 1 %}
							<form action="/gestionnaire/listerMembresAvecCarte/listerCrediterCarte/crediterCarte" method="POST">
								<input type="hidden" name="numCartePersonnel" value={{unPersonnel['numeroCarte']}}>
								<button type="submit" id="boutonCrediterCarte" class="btn btn-success" data-toggle="tooltip"  data-placement="bottom" title="Créditer"><i class="fas fa-euro-sign"></i></button>
							</form>
							{% endif %}
						</td>
						
						
						{% if unPersonnel['activee'] == 1 %}
							<td>
								<form action="/gestionnaire/listerMembresAvecCarte/bloquerCarte" method="POST">
									<input type="hidden" name="numeroCarteBloquer" value={{unPersonnel['numeroCarte']}}>
									<button type="submit" id="boutonBloquerCarte" class="btn btn-danger" data-toggle="tooltip"  data-placement="bottom" title="Bloquer"><i class="fas fa-ban"></i></button>
								</form>
							</td>
						{% endif %}
						
						
						{% if unPersonnel['activee'] == 0 %}
							<td>
								<form action="/gestionnaire/listerMembresAvecCarte/activerCarte" method="POST">
									<input type="hidden" name="numeroCarteActiver" value={{unPersonnel['numeroCarte']}}>
									<button type="submit" id="boutonActiverCarte" class="btn btn-info" data-toggle="tooltip"  data-placement="bottom" title="Activer"><i class="fas fa-check"></i></button>
								</form>
							</td>
						{% endif %}
						
						<td>
							{% if unPersonnel['activee'] == 1 %}
							<form action="/gestionnaire/listerMembresAvecCarte/reinitMDP" method="POST">
								<input type="hidden" name="numeroCarte" value={{unPersonnel['numeroCarte']}}>
								<button type="submit" id="boutonReinitialiserMDP" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Rénitialiser mdp"><i class="fas fa-lock"></i></button>
							</form>
							{% endif %}
						</td>
						
						<td>
							<form action="/gestionnaire/listerMembresAvecCarte/historique" method="POST">
								<input type="hidden" name="numeroCarte" value={{unPersonnel['numeroCarte']}}>
								<button type="submit" id="boutonHistorique" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Historique"><i class="fas fa-history"></i></button>
							</form>
						</td>
					
					</tr>
					{%endfor%}
				</tbody> 
			</table>
		</div>
	
	</div>
</div> 


{% include "vuePied.html" %}
