{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class ="col-md-10">
			<h2><center>Personnels avec carte de Restauration</center></h2>
		
		</div>
	
	</div>
	
	<br>
	<div class = "row">
		<div class = "col-md-1"></div>
		<div class = "col-md-10">

			{% if carteBloquer == True  %}
			<p class="alert alert-danger" role="alert">Carte bloquée. Contactez le gestionnaire.</p>
			{% endif %}

			<table class="table table-hover" >
				<thead>
					<tr>
						{%for enTete in enTeteDuTableau %}
						<th>{{enTete.upper()}}</th>
						{%endfor%}
					
					</tr>
				
				</thead>
				
				<tbody>
					{%for unPersonnel in listePersonnelsAvecCarte %}
					<tr>
						<td>{{unPersonnel['numeroCarte']}}</td>
						
						{% if unPersonnel['activee'] == 0 %}
							<td>Bloqué</td>
						{% endif %}
						
						{% if unPersonnel['activee'] == 1 %}
							<td>Activé</td>
						{% endif %}
						
						<td>{{unPersonnel['solde']}}</td>
						<td>{{unPersonnel['matricule']}}</td>
						<td>{{unPersonnel['nom']}}</td>
						<td>{{unPersonnel['prenom']}}</td>
						<td>{{unPersonnel['nomService']}}</td>
						
						
						<td>
							<form action="/gestionnaire/listerMembresAvecCarte/ListerCrediterCarte/CrediterCarte" method="POST">
								<input type="hidden" name="personnel" value={{unPersonnel['numeroCarte']}}>
								<button type="submit" id="boutonCrediterCarte" class="btn btn-success" data-toggle="tooltip"  data-placement="bottom" title="Créditer"><i class="fas fa-euro-sign"></i></button>
							</form>
						</td>
						
						{% if unPersonnel['activee'] == 1 %}
							<td>
								<form action="/gestionnaire/BloquerCarte" method="POST">
									<input type="hidden" name="numeroCarteBloquer" value={{unPersonnel['numeroCarte']}}>
									<button type="submit" id="boutonBloquerCarte" class="btn btn-danger" data-toggle="tooltip"  data-placement="bottom" title="Bloquer"><i class="fas fa-ban"></i></button>
								</form>
							</td>
						{% endif %}
						
						
						{% if unPersonnel['activee'] == 0 %}
							<td>
								<form action="/gestionnaire/ActiverCarte" method="POST">
									<input type="hidden" name="numeroCarteActiver" value={{unPersonnel['numeroCarte']}}>
									<button type="submit" id="boutonActiverCarte" class="btn btn-info" data-toggle="tooltip"  data-placement="bottom" title="Activer"><i class="fas fa-check"></i></button>
								</form>
							</td>
						{% endif %}
						
						<td>
							<form action="/gestionnaire/ReinitMDP" method="POST">
								<input type="hidden" name="numeroCarte" value={{unPersonnel['numeroCarte']}}>
								<button type="submit" id="boutonReinitialiserMDP" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Rénitialiser mdp"><i class="fas fa-lock"></i></button>
							</form>
						</td>
						
						<td><button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Historique"><i class="fas fa-history"></i></button></td>
					
					</tr>
					{%endfor%}
				</tbody> 
			</table>
		</div>
	
	</div>
</div> 


<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> 
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-2">
	
 
		<button id="boutonBloquerCarte" type="button" style="display: none; " class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"><center><b>Bloquer une carte</b</center></h4>
      </div>
      <div class="modal-body">
		  <div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
        	<form>
         		 <div class="form-group">
           
			
					<label for="exampleInputEmail1"> Etes vous sur de bloquer la carte : </label>
					<input type="email" class="form-control" id="exampleInputEmail1" disabled value="{{numeroDeLaCarte}}">
				
			
         		 </div>
         
			</form>
		</div>
	  </div>
	</div>
	  
	  <br>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>

</div>
-->



<!--
{% if numeroCarte %}


<script>
	$(document).ready(function(){
		$("#boutonCarteCrediter").click();
	});	

</script>
{% endif %}	


{% if numeroDeLaCarte %}

<script>
	$(document).ready(function(){
		$("#boutonBloquerCarte").click();
	});	

</script>
{% endif %}


<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();   
	});
</script>
-->



{% include "vuePied.html" %}
