{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class ="col-md-10">
			<h2><center>Personnels avec carte de Restauration</center></h2>
		
		</div>
	
	</div>
	
	<br>
	<div class = "row">
		<div class = "col-md-1"></div>
		<div class = "col-md-10">

			{% if carteBloquer == True  %}
			<p class="alert alert-danger" role="alert">Carte bloquée. Contactez le gestionnaire.</p>
			{% endif %}

			<table class="table table-hover" >
				<thead>
					<tr>
						{%for enTete in enTeteDuTableau %}
						<th>{{enTete.upper()}}</th>
						{%endfor%}
					
					</tr>
				
				</thead>
				
				<tbody>
					{%for unPersonnel in listePersonnelsAvecCarte %}
					<tr>
						<td>{{unPersonnel['numeroCarte']}}</td>
						<td>{{unPersonnel['solde']}}</td>
						<td>{{unPersonnel['matricule']}}</td>
						<td>{{unPersonnel['nom']}}</td>
						<td>{{unPersonnel['prenom']}}</td>
						<td>{{unPersonnel['nomService']}}</td>
						<td>{{unPersonnel['activee']}}</td>
						
						
						
						<td>
							<form action="/ouvrirModalCrediterCarte" method="POST">
								<input type="hidden" name="numeroCarte" value={{unPersonnel['numeroCarte']}}>
								<button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" data-backdrop="false" title="Créditer"><i class="fas fa-euro-sign"></i></button>
							</form>
						</td>
						<td>
							
							<form action="/ouvrirModalBloquerCarte" method="POST">
								<input type="hidden" name="numeroCarteBloquer" value={{unPersonnel['numeroDeLaCarte']}}>
								<button type="submit" id="boutonBloquerCarte" class="btn btn-danger" data-toggle="tooltip"  data-placement="bottom" title="Bloquer"><i class="fas fa-ban"></i></button>
							</form>
				
						</td>
						<td><button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-sm" data-toggle="tooltip" data-placement="bottom" title="Rénitialiser mdp"><i class="fas fa-lock"></i></button></td>
						<td><button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Historique"><i class="fas fa-history"></i></button></td>
					
					</tr>
					{%endfor%}
				</tbody> 
			</table>
		</div>
	
	</div>
</div>


<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>-->

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-2">
	
 
		<button id="boutonBloquerCarte" type="button" style="display: none; " class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"><center><b>Bloquer une carte</b</center></h4>
      </div>
      <div class="modal-body">
		  <div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
        	<form>
         		 <div class="form-group">
           
			
					<label for="exampleInputEmail1"> Etes vous sur de bloquer la carte : </label>
					<input type="email" class="form-control" id="exampleInputEmail1" disabled value="{{numeroDeLaCarte}}">
				
			
         		 </div>
         
			</form>
		</div>
	  </div>
	</div>
	  
	  <br>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>

</div>








<!-- Button trigger modal -->
<button id="boutonCarteCrediter" type="button" style="display: none; " class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><center><b>Créditer Carte</b> </center></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<form>
							<div class="form-group">
							  <label for="exampleInputEmail1">Carte à crediter</label>
							  <input type="email" class="form-control" id="exampleInputEmail1" disabled value="{{numeroCarte}}">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Somme</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Montant en €">
							  </div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary">Valider</button>
			</div>
		</div>
	</div>
  </div>
</div>








{% if numeroCarte %}


<script>
	$(document).ready(function(){
		$("#boutonCarteCrediter").click();
	});	

</script>
{% endif %}	


{% if numeroDeLaCarte %}

<script>
	$(document).ready(function(){
		$("#boutonBloquerCarte").click();
	});	

</script>
{% endif %}


<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();   
	});
</script>




{% include "vuePied.html" %}