{% include "vueEntete.html" %}
{% include "vueEnteteGestionnaire.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class ="col-md-10">
			<h2><center>Personnels sans carte de Restauration</center></h2>
		
		</div>
	
	</div>
	
	<br>
	<div class = "row">
		<div class = "col-md-1"></div>
		<div class = "col-md-10">
			<table class="table table-hover">
				<thead>
					<tr>
						{%for enTete in enTeteDuTableau %}
						<th>{{enTete.upper()}}</th>
						{%endfor%}
					
					</tr>
				
				</thead>
				
				<tbody>
					{%for unPersonnel in listePersonnelsSansCarte %}
					<tr>
						<td>{{unPersonnel['matricule']}}</td>
						<td>{{unPersonnel['nom']}}</td>
						<td>{{unPersonnel['prenom']}}</td>
						<td>{{unPersonnel['nomService']}}</td>
						
						
					
						<td>
							<form action="/gestionnaire/listerMembresSansCarte/creationCompte" method="POST">
								<input type="hidden" name="matricule" value={{unPersonnel['matricule']}}>
								<button type="submit" id="boutonCreationCompte" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"  title="Créer un compte"><i class="fas fa-user-plus"></i></button>
							</form>
						</td>
					
					</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	
	</div>
</div>


<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();   
	});
</script>



{% include "vuePied.html" %}
